body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#wrap {
    display: flex;
    flex-direction: row;
}

#container {
}

#pickercontainer {
    overflow: hidden;
}

#pickercanvas {
    width: 35px;
    height: 256px;
    position: absolute;
    top: 100px;
    right : 50px;
}

#colorpicker {
    position: absolute;
    top: 110px;
    right: 52px;
    opacity: 0.0;
}

#ui_layer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
}

#ui_layer p {
    border-right: 1px solid #333;
    line-height: 60px;
    margin: 10px 0px;
    padding: 10px 20px;
}

.html5lp {
}

.html5jp-cpick {
    width: 75px;
}

.cols {
    padding: 0px;
    display: flex;
    flex-direction: row;
}


